@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavManager

<header class="nav">
    <div class="nav-inner container">
        <a class="brand" href="/">
            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2" y="4" width="20" height="16" rx="3" fill="url(#g)" />
            </svg>
            <span class="brand-text">JoHotel</span>
        </a>

        <nav class="links @(isOpen ? "open" : "")">
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="/rooms">Rooms</NavLink>
            <NavLink href="/offers">Offers</NavLink>
            <NavLink href="/about">About</NavLink>
        </nav>

        <div class="actions">
            <button class="btn-outline" @onclick="Booking">Book</button>

            <button class="hamburger" @onclick="ToggleMenu" aria-label="menu">
                <span></span><span></span><span></span>
            </button>
        </div>
    </div>
</header>



@code{
  private bool isOpen = false;
  void ToggleMenu() => isOpen = !isOpen;

    void Booking()
    {
        NavManager.NavigateTo("/booking");
    }
}
